/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr auto;
  color: #39aa3b;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 5);
}

header h1 {
  display: none;
}

.menu-toggle {
  display: block;
  margin: auto;
  padding: 0 3rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #39aa3b;
  margin: 4px 0;

  /* transition: 0.4s; */
}
.nav-link {
  transition: 0.7s ease-out;
}
.nav-menu.active {
  left: 0;
}
.nav-link:hover {
  color: dodgerblue;
  font-size: 30px;
}
.nav-menu {
  position: absolute;
  left: -100%;
  top: 100px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.nav-menu {
  display: none;
}

.nav-menu.active {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 22px;
}

nav li {
  padding: 7px;
}

nav a {
  color: #39aa3b;
  text-decoration: none;
  font-weight: bold;
}

/* Style the hero section */
.hero {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.hero img {
  max-width: 100%;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.button {
  position: absolute; /* Position the button absolutely within the hero section */
  top: 33%; /* Position the button 50% from the top */
  left: 50%; /* Position the button 50% from the left */
  transform: translate(
    -50%,
    -50%
  ); /* Center the button horizontally and vertically */
  background-color: #007bff; /* Button background color */
  padding: 10px 20px; /* Button padding */
  border-radius: 5px; /* Rounded corners for the button */
}
.button a {
  color: white;
  text-decoration: none;
}

/* Hover effect for the button */
.button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.landscaping-services {
  background-color: #eaf6f6;
  padding: 50px 0;
  text-align: center;
}

.landscaping-services h2 {
  color: #39aa3b;
  font-size: 36px;
  margin-bottom: 20px;
}

.landscaping-services .service {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.landscaping-services .service h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #39aa3b;
}

/* Style the footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.social img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
footer p {
  font-size: 12px;
  margin-top: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}
